In [182]:
!pip install wget

Requirement already satisfied: wget in /usr/local/lib/python3.6/dist-packages (3.2)

# Import Libraries

In [183]:
import wget
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import sklearn.preprocessing
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

%matplotlib inline

In [184]:
url = 'https://covid.ourworldindata.org/data/owid-covid-data.csv'
filename = wget.download(url)

In [185]:
df = pd.read_csv(filename)
df.head(10)

  iso_code      continent  ... life_expectancy human_development_index
0      ABW  North America  ...           76.29                     NaN
1      ABW  North America  ...           76.29                     NaN
2      ABW  North America  ...           76.29                     NaN
3      ABW  North America  ...           76.29                     NaN
4      ABW  North America  ...           76.29                     NaN
5      ABW  North America  ...           76.29                     NaN
6      ABW  North America  ...           76.29                     NaN
7      ABW  North America  ...           76.29                     NaN
8      ABW  North America  ...           76.29                     NaN
9      ABW  North America  ...           76.29                     NaN

[10 rows x 41 columns]

In [186]:
df.describe()

        total_cases      new_cases  ...  life_expectancy  human_development_index
count  4.686500e+04   49650.000000  ...     49583.000000             43422.000000
mean   1.283902e+05    1570.349325  ...        73.992035                 0.723938
std    1.285626e+06   14166.849913  ...         7.384344                 0.153012
min    1.000000e+00   -8261.000000  ...        53.280000                 0.354000
25%    1.410000e+02       0.000000  ...        69.870000                 0.601000
50%    1.602000e+03      11.000000  ...        75.400000                 0.754000
75%    1.615700e+04     185.000000  ...        79.380000                 0.847000
max    3.898481e+07  388583.000000  ...        86.750000                 0.953000

[8 rows x 36 columns]

In [187]:
df.columns

Index(['iso_code', 'continent', 'location', 'date', 'total_cases', 'new_cases',
       'new_cases_smoothed', 'total_deaths', 'new_deaths',
       'new_deaths_smoothed', 'total_cases_per_million',
       'new_cases_per_million', 'new_cases_smoothed_per_million',
       'total_deaths_per_million', 'new_deaths_per_million',
       'new_deaths_smoothed_per_million', 'new_tests', 'total_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand',
       'tests_per_case', 'positive_rate', 'tests_units', 'stringency_index',
       'population', 'population_density', 'median_age', 'aged_65_older',
       'aged_70_older', 'gdp_per_capita', 'extreme_poverty',
       'cardiovasc_death_rate', 'diabetes_prevalence', 'female_smokers',
       'male_smokers', 'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy', 'human_development_index'],
      dtype='object')

# Data Preprocessing

In [188]:
df['total_smokers'] = df['male_smokers'] + df['female_smokers']

In [189]:
columns = ['new_deaths', 'total_cases', 'new_cases', 'population_density', 'aged_65_older', 'extreme_poverty', 'diabetes_prevalence', 'hospital_beds_per_thousand', 'human_development_index', 'total_smokers']

df = df[columns]

In [190]:
df = df.dropna()

df.shape[0]

20917

# Data Visualization

In [ ]:
f, ax = plt.subplots(figsize=(10, 6))
corr = df.corr()
hm = sns.heatmap(round(corr,2), annot=True, ax=ax, cmap="coolwarm",fmt='.2f',
                 linewidths=.05)
f.subplots_adjust(top=0.93)
t= f.suptitle('Wine Attributes Correlation Heatmap', fontsize=14)
f.show()

In [ ]:
plt.figure()
sns.pairplot(df)
plt.show()

# Train Test Data Preparation

In [ ]:
df_label = df['new_deaths']
df_features = df.drop('new_deaths', axis= 1)

In [ ]:
df_features.head()

In [ ]:
df.shape[0]

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(df_features, df_label, test_size=0.3, random_state=33)

In [ ]:
scaler = sklearn.preprocessing.StandardScaler().fit(X_train)
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

# Train Linear Regression Model

In [ ]:

model = LinearRegression().fit(X_train, y_train)

# Evaluate On Test Set

In [ ]:
test_score = model.score(X_test, y_test)
print('Test Set Score = ', test_score)